/*
Errno::ENOENT: No such file or directory @ rb_sysopen - ./sass/main.scss

Backtrace:
/usr/lib/ruby/vendor_ruby/sass/plugin/compiler.rb:454:in `read'
/usr/lib/ruby/vendor_ruby/sass/plugin/compiler.rb:454:in `update_stylesheet'
/usr/lib/ruby/vendor_ruby/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/usr/lib/ruby/vendor_ruby/sass/plugin/compiler.rb:209:in `each'
/usr/lib/ruby/vendor_ruby/sass/plugin/compiler.rb:209:in `update_stylesheets'
/usr/lib/ruby/vendor_ruby/sass/plugin/compiler.rb:294:in `watch'
/usr/lib/ruby/vendor_ruby/sass/plugin.rb:109:in `method_missing'
/usr/lib/ruby/vendor_ruby/sass/exec/sass_scss.rb:354:in `watch_or_update'
/usr/lib/ruby/vendor_ruby/sass/exec/sass_scss.rb:51:in `process_result'
/usr/lib/ruby/vendor_ruby/sass/exec/base.rb:50:in `parse'
/usr/lib/ruby/vendor_ruby/sass/exec/base.rb:18:in `parse!'
/usr/bin/sass:8:in `<main>'
*/

body:before {
  white-space: pre;
  font-family: monospace;
}

body{
  margin: 0px;
  font-family: 'Roboto';
}

/* Couleur */

$primaire : #9356DC;
$secondaire : #FF79DA;
$terciaire : #99E2D0;


a{
  text-decoration: none;
  color: black;
}


/*------------------------------------------------------------*/


/*Loading Spinner*/

.spinner{
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
    border: 4px solid $secondaire;
    border-top: 4px solid transparent;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    animation: spinner 1300ms 1 linear normal;
    animation-fill-mode:forwards;
}

@keyframes spinner {
    0% { transform: rotate(0deg); opacity: 1;}
    70%{ transform: rotate(290deg); opacity: 1;}
    100%{ transform: rotate(360deg); opacity: 0;}
}

.contain-spinner{
  width: 100%;
  height: 100%;
  animation: contain-spinner 1400ms 1 linear normal;
}

@keyframes contain-spinner {
  0% {  background-color: #444444; opacity: 0.5;  position: fixed;}
  70% {  background-color: #444444; opacity: 0.5; position: fixed;}
  100% {  background-color: #444444; opacity: 0;}
}



/* Header */

header{
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  border-bottom: 2px solid #eeeeee;
  box-shadow: 2px 0px 10px #8b8b8b;

  .logo-principal{
    width: 210px;
    margin: 17px;
    padding-top: 15px;
  }  

}


/* Recherche */

.recherche{
  margin-top: 5px;
  background: #e5e5e5;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;

  .fa-location-dot{
    margin-right: 10px;
    font-size: 22px;
    color: #444444;
  }

  &__ville{
    width: 170px;
    height: 48px;
    font-weight: 700;
    background: #e5e5e5;
    color: #444444;
    border: #e5e5e5 2px solid;
    font-size: 20px;
    padding: 3px;

    &:focus{
      box-shadow: 2px 2px 5px rgb(92, 92, 92);
      background-color: #eeeded;
    }
  }
}


/* Réserver */

.reservez{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f2f2f2;
  padding: 25px;

    h1{
      font-size: 32px;
      font-weight: 800;
      text-align: center;
      margin: 20px 30px 10px 30px;
    }

    p{
      font-size: 24px;
      color: #797979;
      text-align: center;
    }

    &__explorer{
      text-align: center;
      font-size: 20px;
      font-weight: 600;
      background: linear-gradient(to bottom right, $secondaire, $primaire 90%);
      padding: 20px 30px 20px 30px;
      border-radius: 50px;
      box-shadow: 3px 3px 10px #999999;
      margin: 20px 0px 50px 0px;
      cursor: pointer;

        &:hover{
          box-shadow: 3px 3px 10px #575757;
          background: linear-gradient(to bottom right, lighten($secondaire, 5%), lighten($primaire, 5%) 90%);
        }

        a{
          color: #fff;
        }
    }
}


/* Fonctionnement */

.fonctionnement{
  padding: 40px 30px 60px 30px;


    h2{
      font-size: 30px;
      font-weight: 600;
    }

    &__texte{
      width: 100%;
      padding: 35px 0px 35px 0px;
      margin-left: -10px;
      font-weight: 700;
      font-size: 22px;
      display: flex;
      flex-direction: row;
      align-items: center;
      background: #f8f8f8;
      border-radius: 30px;
      box-shadow: 5px 5px 7px #e9e8e8;
      margin: 27px 10px 27px 10px ;
      cursor: pointer;

        &:hover{
          background: (lighten($primaire, 35%));
          box-shadow: 5px 5px 7px #c4c4c4;
        }

        .fa-mobile-screen, .fa-list, .fa-store{
          font-size: 25px;
          color: #8b8b8b;
          margin-right: 20px;
        }


        &:hover{
          & > .fa-mobile-screen, .fa-list, .fa-store{
          color: $primaire;}
        }

        &__numero{
          font-size: 18px;
          background: $primaire;
          color: #fff;
          border-radius: 50%;
          padding: 5px 12px 5px 12px;
          margin-left: -15px;
          margin-right: 20px;
        }
    }
}


/* Restaurant */

.restaurant{
  padding: 40px 30px 65px 30px;
    background-color: #f2f2f2;
  
      h2{
        font-size: 34px;
        font-weight: 600;
      }

      &__menu{
        background: #fff;
        border-radius: 20px; 
        margin: 25px 0px 20px 0px;
        box-shadow: 5px 5px 7px #e0dfdf;

          &:hover{
            box-shadow: 5px 5px 7px #969696;
          }

          &__image{
            width: 100%;

            &__img{
              width: 100%;
              height: 240px;
              border-radius: 20px 20px 0px 0px;
              object-fit: cover;
              overflow: hidden;
            }

              .img1{
                object-position: center 60%;
              }

              .img2{
                object-position: center 60%;
              }

              .img3{
                object-position: center 85%;
              }

              .img4{
                object-position: center 85%;
              }

            &__nouveau{
              background-color: $terciaire;
              font-size: 19px;
              font-weight: 700;
              width: 20%;
              text-align: center;
              color: (darken($terciaire, 40%));
              border: solid 1px (darken($terciaire, 10%));
              border-radius: 4px;
              padding: 8px 0px 8px 0px;
              position: absolute;
              margin-left: 65%;
              margin-top: 10px;
            }
        }

          &__texte{
            padding: 0px 20px 0px 20px;
            font-size: 20px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            &__ville{
              margin-top: -20px;
              font-size: 22px;
              color: #5a5a5a;
            }

            .fa-regular.fa-heart {
              margin-left: 15px;
              font-size: 28px;
              color: #575757;
              background-clip: text;
              position: relative;
            }
      
            
            .fa-solid.fa-heart{
              transform: scale(0);
              transition: all 0.5s linear 0s;
              position: absolute;
              font-size: 28px;        
              background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
              background: -webkit-linear-gradient(#FF79DA, #9356DC);
              background-clip: text;
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
              width: 100%;
              height: 0%;
              left: 0;
              bottom: 0;
              color: transparent;        
            }
      
            .fa-regular.fa-heart:hover{
              color: $secondaire;
            }
      
            .fa-regular.fa-heart:hover .fa-solid.fa-heart {
              transform: scale(1);
              height: 100%;
            }
              
            }
           
            


          }

      }
  



/* Footer */

.footer{
  display: flex;
  flex-direction: column;
  background: #333333;
  padding: 30px 35px 35px 35px;

    .logo-secondaire{
      width: 130px;
      margin: 5px 0px 20px 0px;
      filter: invert(100%);
    }

    &__lien{
      display: flex;
      flex-direction: row;
      align-items: baseline;
      margin: 5px 0px 5px 0px;

        .fa-handshake-angle, .fa-utensils{
          width: 18px;
          color: #fff;
          margin-right: 10px;
        }

        &:hover{
          & > .fa-handshake-angle, .fa-utensils{
            color: $secondaire;
          }
        }

        &__a{
          font-size: 20px;
          color: #fff;

            &:hover{
              color: $secondaire; 
            }
        }
    }
}

/*-----------------------------------------------------------------------*/

/*Header menu*/

.fleche{
  position: absolute;
  margin-right: 90%;

    .fa-arrow-left-long{
      font-size: 20px;
    }
}

/* Image menu */

.img_menu{
  width: 100%;
  height: 300px;
  object-fit: cover;
  overflow: hidden;
}

.img_1{
  object-position: center;
}

.img_2{
  object-position: center 63%;
}

.img_3{
  object-position: center 100%;
}

.img_4{
  object-position: center 85%;
}

/* Menu */

.menu{
  margin-top: -20px;
  border-radius: 35px 35px 0px 0px;
  padding: 20px;
  background: #eee;

    &__titre{
      font-family: 'Shrikhand';
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;


      .fa-regular.fa-heart {
        margin-left: 15px;
        font-size: 28px;
        color: #575757;
        background-clip: text;
        position: relative;
      }

      
      .fa-solid.fa-heart{
        transform: scale(0);
        transition: all 0.5s linear 0s;
        position: absolute;
        font-size: 28px;        
        background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
        background: -webkit-linear-gradient(#FF79DA, #9356DC);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        width: 100%;
        height: 0%;
        left: 0;
        bottom: 0;
        color: transparent;        
      }

      .fa-regular.fa-heart:hover{
        color: $secondaire;
      }

      .fa-regular.fa-heart:hover .fa-solid.fa-heart {
        transform: scale(1);
        height: 100%;
      }
    }

    &__repas{
      margin-right: 10px;

      &__titre{
        border-bottom: $terciaire 3px solid;
        width: 50px;
      }

      &__liste{

          width: 100%;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          background-color: #fff;
          margin: 10px 0px 10px 0px;
          border-radius: 15px;
          padding: 0px 0px 0px 15px;

          &:nth-child(1){
            animation: open 600ms 1 ease-out;
          }
    
          &:nth-child(2){
            animation: open 800ms 1 ease-out;
          }
    
          &:nth-child(3){
            animation: open 1000ms 1 ease-out;
          }
      
          &:nth-child(4){
            animation: open 1200ms 1 ease-out;
          }
    
          &:nth-child(5){
            animation: open 1400ms 1 ease-out;
          }
    
          &:nth-child(6){
            animation: open 1600ms 1 ease-out;
          }
    
          &:nth-child(7){
            animation: open 1800ms 1 ease-out;
          }
    
          &:nth-child(8){
            animation: open 2000ms 1 ease-out;
          }
    
          &:nth-child(9){
            animation: open 2200ms 1 ease-out;
          }
    
          &:nth-child(10){
            animation: open 2400ms 1 ease-out;
          }
    
          @keyframes open {
            0%{transform: translateY(35px); opacity: 0;}
            40%{transform: translateY(35px); opacity: 0;}
            100%{transform: translateY(0px); opacity: 1;}
          }

            &__texte{
              width: 100%;
              display: flex;
              flex-direction: row;
              align-items: flex-end;
              justify-content: space-between;

              .texte{
                width: 65%;

                h3, p{
                  overflow: hidden;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                }

              }

              .prix{
                font-weight: 700;
              } 
            }

            &__animation{
              width: 15px;

                .fa-check{
                  font-size: 0px;
                }

            }

            &:hover {
              & > .menu__repas__liste__animation{  
                display: flex;
                justify-content: center;
                align-items: center;
                width: 7%;             
                animation: progress-bar 500ms ;
                background: $terciaire;
                margin-left: 10px;
                border-radius: 0px 15px 15px 0px;
                padding: 30px;
  
  
                  .fa-check{
                    text-align: center;
                    font-size: 20px;
                    color: $terciaire;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 35px;
                    height: 35px;
                    border-radius: 50%;
                    background: #fff;
                    animation: spin 600ms 1 linear;
                    -webkit-animation: spin 600ms 1 linear;
      
                      @keyframes spin {
                        0%{transform: rotate(0deg);}
                        50%{transform: rotate(0deg);}
                        100%{transform: rotate(360deg);}
                      }
      
                      @-webkit-keyframes spin {
                        0%{-webkit-transform: rotate(0deg);}
                        50%{-webkit-transform: rotate(0deg);}
                        100%{-webkit-transform: rotate(360deg);}
                      }
                  }
                  
              }
            }

            @keyframes progress-bar {
              0%{transform: translateX(250px);}
              100%{transform: translateX(0);}
            }

          }

      &__commander{
        text-align: center;
        font-size: 20px;
        font-weight: 600;
        background: linear-gradient(to bottom right, $secondaire, $primaire 90%);
        padding: 20px 30px 20px 30px;
        border-radius: 50px;
        box-shadow: 3px 3px 10px #999999;
        margin: 5% 25%;

          &:hover{
            font-size: 23px;
            box-shadow: 3px 3px 10px #575757;
            background: linear-gradient(to bottom right, lighten($secondaire, 5%), lighten($primaire, 5%) 90%);
          }

          a{
            color: #fff;
          }
      }

    }

  }

